* {
    margin: 0;
    padding: 0;
}

html {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

table {
    margin: auto;
    border: 5px solid gray;
}

thead {
    background-color: lightcoral;
}

td {
    padding: 3px;
    border: 2px solid gray;
}

.code-area {
    margin: 20px auto;
    padding: 40px;
    border: 5px solid red;
    border-radius: 20px;
    font-family: VT323, sans-serif;
    background-color: #143525;
    color: #6AF2AE;
    font-size: 26px;
    width: 50%;
}